<% include ./partials/header%>

    <header class="landing">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <div class="landing-btn">
            <a href="/recipes">Recipes</a>
        </div>
    </header>
    

<% include ./partials/footer %>

