/* Recipes Index */

.rec-index {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), #fcec52;
    width: 100%;
    padding-top: 150px;
    z-index: -1;
    min-height: 100vh;
}

.jumbotron {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.4)), url("../img/jumbotron.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    box-shadow: 5px 5px 15px black;
}

.jumbotron h1 {
    font-family: 'Covered By Your Grace', cursive;
    letter-spacing: 2px;
    text-shadow: 1px 2px 5px #fceb52cb;
    color: #CFFFB3;
    font-size: 3rem;
    margin-bottom: 1rem;
}


.jumbotron a {
    color: #CFFFB3;
    background: #3a5743b2;
    border-radius: 5px;
    padding: 7px 20px;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 400;
    border: 1px solid #fcec52;
    box-shadow: 3px 3px 5px #CFFFB3;
    transition: all .5s;
}

.jumbotron a:hover {
    color: #fcec52;
    background: #3a5743ea;
}

@media only screen and (max-width: 950px){
    .jumbotron h1 {
        font-size: 2.5rem;
    }
    .jumbotron a {
        font-size: 1.5rem;
    }
}

.all-recipes {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.all-recipes .thumbnail {
    width: 30%;
    margin-bottom: 40px;
    box-shadow: 5px 5px 15px black;
    height: 480px;
    border-radius: 5px;
}

.all-recipes .thumbnail:nth-child(3n+2){
    margin: 0 5% 0 5%;
}

.all-recipes .thumbnail img {
    width: 100%;
    border-radius: 5px;
    height: 280px;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #CFFFB3;
}

.all-recipes .thumbnail .rec-text {
    padding: 5px 0 0 10px;
}

.rec-text {
    color: #CFFFB3;
}

.rec-text h2 {
 font-size: 2rem;
 letter-spacing: 2px;
 font-weight: 500;
 margin-bottom: 5px;
 padding-bottom: 1px;
 border-bottom: 1px solid #CFFFB3;
}

.rec-text p {
    font-size: 1.3rem;
    margin: 5px 0 5px 0;
}

.rec-text h5 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.rec-text span {
    color: rgb(34, 41, 31);
    font-size: 1rem;
}

.rec-text a {
    text-decoration: none;
    color: #CFFFB3;
    font-weight: bold;
    text-align: right;
    float: right;
    margin-right: 20px;
    background: #3a5743de;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #fcec52;
    transition: all .5s;
}

.rec-text a:hover {
    color: #fcec52;
    box-shadow: 3px 3px 10px black;
}

@media only screen and (max-width:1200px){
    .all-recipes .thumbnail {
        width: 45%;
        margin: 0 !important;
        margin-bottom: 90px !important;
    }
    
    .all-recipes .thumbnail:nth-child(2n + 1) {
        margin-right: 10% !important;
    }
}

@media only screen and (max-width: 900px){
    .all-recipes #phone {
        width: 100%;
        margin: 0 !important;
        margin-bottom: 50px !important ;
    }
}

/* New recipe form  */

.form-rec-new {
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form-rec-new form {
    width: 350px;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 3px solid #3a5743;
    -webkit-box-shadow: 2px 2px 10px #3a5743;
            box-shadow: 2px 2px 10px #3a5743;
    padding: 50px;
}

form h1 {
    color: #3a5743;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

.form-rec-new form input {
    display: block;
    margin: 5px;
    padding: 10px;
}

@media only screen and (max-width: 1200px){
    .form-rec-new form input {
        font-size: 3rem;
        border: 1px solid #3a5743;
    }
    form h1 {
        font-size: 4rem;
    }
    .form-rec-new form {
        width: 70%;
    }
}

/* SHOW */

.show-container {
    width: 40%;
    margin: 0 auto;
    padding-top: 3vh;
}

.show-thumbnail {
    background: #3a5743;
    border: #CFFFB3 3px solid;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
    border-radius: 5px;
}

.show-container button {
    float: right;
    color: #fcec52;
    padding: 0;
    background: transparent;
    border: 0;
    text-decoration: underline;
    font-size: 1rem;
}

.show-text {
    padding: 10px 10px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-top: 2px solid #CFFFB3;
}

.show-text a {
    color: #fcec52;
}

.show-thumbnail img {
    width: 100%;
    height: 100%;
    margin: 0 auto 5px auto;
    border-radius: 5px;
}

.buttons-show {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.show-name, .show-author, .show-desc {
    color: #CFFFB3;
    font-size: 1.5rem;
}

.comments {
    padding: 10px 10px;
}

.comments h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 19px;
}

.comments p {
    margin-top: 10px;
}

.new-comment {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fcec52;
    font-size: 20px;
    padding: 5px 10px;
    background: #3a5743;
    border: #CFFFB3 3px solid;
}

@media only screen and (max-width: 1200px){
    .show-container {
        width: 90%;
    }
}
