/* Backgrounds */
.main-back, .padding-back {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), url("../img/bg-recipe.jpg");
    width: 100%;
    z-index: -1;
    min-height: 100vh;
}

.padding-back {
    padding-top: 180px;
    padding-bottom: 3rem;
}


/* Jumbotron by Recipes */
.jumbotron {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.4)), url("../img/jumbotron.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    box-shadow: 5px 5px 15px black;
}

.jumbotron h1 {
    font-family: 'Covered By Your Grace', cursive;
    letter-spacing: 2px;
    text-shadow: 1px 2px 5px #fceb52cb;
    color: #CFFFB3;
    font-size: 3rem;
    margin-bottom: 1rem;
}


.jumbotron a {
    color: #CFFFB3;
    background: #3a5743b2;
    border-radius: 5px;
    padding: 7px 20px;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 400;
    border: 1px solid #fcec52;
    box-shadow: 3px 3px 5px #CFFFB3;
    transition: all .5s;
}

.jumbotron a:hover {
    color: #fcec52;
    background: #3a5743ea;
}

@media only screen and (min-width: 1000px){
    .main-back {
        padding-top: 180px;
    }
}

@media only screen and (max-width: 950px){
    .jumbotron h1 {
        font-size: 2.5rem;
    }
    .jumbotron a {
        font-size: 1.5rem;
    }
}

/* All recipes */
.all-recipes {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.all-recipes .thumbnail {
    width: 30%;
    margin-bottom: 40px;
    box-shadow: 5px 5px 15px black;
    height: 480px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.562);
    transition: transform .5s;
}

.all-recipes .thumbnail:hover {
    transform: scale(1.1)
}

@media only screen and (max-width:1000px){
    .all-recipes .thumbnail:hover {
        transform: scale(1);
    }
}

.all-recipes .thumbnail:nth-child(3n+2){
    margin: 0 5% 0 5%;
}

.all-recipes .thumbnail img {
    width: 100%;
    border-radius: 5px;
    height: 280px;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #CFFFB3;
    filter: brightness(80%);
}

.all-recipes .thumbnail .rec-text {
    padding: 5px 0 0 10px;
}

.rec-text {
    color: #CFFFB3;
}

.rec-text h2 {
 font-size: 2rem;
 letter-spacing: 2px;
 font-weight: 500;
 margin-bottom: 5px;
 padding-bottom: 1px;
 border-bottom: 1px solid #CFFFB3;
}

.rec-text p {
    font-size: 1.3rem;
    margin: 5px 0 5px 0;
}

.rec-text h5 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.rec-text span {
    color: #fcec52;
    font-size: 1rem;
}

.rec-text a {
    text-decoration: none;
    color: #CFFFB3;
    font-weight: bold;
    text-align: right;
    float: right;
    margin-right: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #fcec52;
    transition: all .5s;
}

.rec-text a:hover {
    color: #fcec52;
    box-shadow: 3px 3px 10px black;
}

@media only screen and (max-width:1200px){
    .all-recipes .thumbnail {
        width: 45%;
        margin: 0 !important;
        margin-bottom: 90px !important;
    }
    
    .all-recipes .thumbnail:nth-child(2n + 1) {
        margin-right: 10% !important;
    }
}

@media only screen and (max-width: 900px){
    .all-recipes #phone {
        width: 100%;
        margin: 0 !important;
        margin-bottom: 50px !important ;
    }
}


/* Show page */

.show {
    width: 100%;
    display: flex;
    border: 1px solid #CFFFB3;
    box-shadow: 5px 5px 10px black;
    color: #CFFFB3;
}

.show:nth-child(2){
    margin-top: 3rem;
    padding: 20px;
}

.show-img {
    width: 40%;
    padding: 20px;
}

.show-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.show-text {
    width: 70%;
    border-left: 1px solid #CFFFB3;
    padding: 20px;
}

.show-text h2 {
    font-size: 2.2rem;
    margin-bottom: 5%;
}

.show-text h5 {
    font-size: 1.7rem;
    margin-bottom: 5%;
}

.show-text p {
    margin-bottom: 5%;
    font-size: 1.7rem;
    width: 100%;
}

/* Small navigation buttons */
.small-nav {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    align-items: center;
}


.small-nav a, .small-nav button, .comments .row a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #CFFFB3;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.671);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #fcec52;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.small-nav a:hover, .small-nav button:hover {
    color: #fcec52;
    box-shadow: 3px 3px 10px black;
}

@media only screen and (max-width:950px) {
    .small-nav button, .comments .row a {
        font-size: 1rem !important;
    }
    .show {
        flex-direction: column;
    }
    .show-text {
        width: 100%;
    }
    .show-img {
        width: 50%;
        margin: 0 auto;
    }
    .show-img img {
        box-shadow: 10px 10px 20px black;

    }
}

/* Comments styling */

.comments {
    width: 100%;
}

.comments .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid #CFFFB3;
}

.comments h1 {
    font-size: 3rem;
    font-family: 'Covered By Your Grace', cursive;
}

.comments strong {
    display: block;
    margin-bottom: 5px;
}

.comments p {
    word-wrap: break-word;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.new-comment {
    margin-top: 3rem;
}

/* All input styling */

.all-inputs {
    display: flex;
    width: 500px;
    justify-content: center;
    height: 500px;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 60px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.808);
    border: 1px solid #CFFFB3;
    box-shadow: 10px 10px 15px black;
}

@media only screen and (max-width: 950px){
    .all-inputs {
        width: 320px;
        height: 400px;
    }
    .small-nav a {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

.all-inputs h1 {
    text-align: center;
    color: #CFFFB3;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.all-inputs input {
    margin: .5rem 0;
    padding: 5px;
    font-size: 1rem;
}