html {
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
@media only screen and (max-width: 1200px){
    html {
        font-size: 14px;
    }
}

body {
    color: #CFFFB3;
    font-family: 'Noto Sans KR', sans-serif;
}

#index, .header {
    padding-top: 10vh;
}

/* Navigation Bar */

.burger {
    cursor: pointer;
    display: none;
    margin-right: 5px;
}

.burger div {
    width: 30px;
    height: 4px;
    background: #CFFFB3;
    margin: 5px;
}

.active {
    border-bottom: 2px solid #CFFFB3;
    padding-bottom: 5px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 10vh;   
    background: #3a5743;
    border-bottom: 1px solid #CFFFB3;
}

nav a {
    color: #CFFFB3;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    -webkit-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
}

.brand a {
    font-size: 2.5rem;
    font-family: 'Covered By Your Grace', cursive;
    letter-spacing: 1px;
    font-weight: 300;
    display: block;
    padding: 10px 15px;
    border: 1px solid #CFFFB3;
    -webkit-box-shadow: 2px 2px 5px #CFFFB3;
            box-shadow: 2px 2px 5px #CFFFB3;
            margin-left: 5px;
}

.menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 40%;
}

nav a:hover {
    color: #fcec52;
}

nav i {
    padding: 0 5px;
    color: #fcec52;
}

@media only screen and (max-width: 1400px) {
    .menu-list {
        width: 50% !important; 
    }
}

@media only screen and (max-width: 1200px){
    html {
        font-size: 14px;
    }
    .menu-list {
        position: absolute;
        top: 10vh;
        right: 0;
        z-index: 100;
        background: #000000e8;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 90vh;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 25% !important;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: -webkit-transform 0.5s ease-in;
        transition: -webkit-transform 0.5s ease-in;
        -o-transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    }
    .menu-list li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.menu-active {
    -webkit-transform: translateX(0) ;
        -ms-transform: translateX(0) ;
            transform: translateX(0) ;
}

@-webkit-keyframes navLinkFade {
    from {
        opacity: 0;
        -webkit-transform: translateX(50px);
                transform: translateX(50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px)
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        -webkit-transform: translateX(50px);
                transform: translateX(50px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
                transform: translateX(0px)
    }
}
.line1, .line2, .line3 {
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    -o-transition: transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
}

.toggle .line1{
    -webkit-transform: rotate(405deg) translate(4.6px);
        -ms-transform: rotate(405deg) translate(4.6px);
            transform: rotate(405deg) translate(4.6px);
}
.toggle .line2 {
    display: none;
}
.toggle .line3 {
    -webkit-transform: rotate(-405deg) translate(4px);
        -ms-transform: rotate(-405deg) translate(4px);
            transform: rotate(-405deg) translate(4px);
}


/* Landing header */

.header {
    background-image: url("../img/landing.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header a {
    background: #3a5743;
    border: 3px solid #CFFFB3;
    text-decoration: none;
    padding: 15px 40px;
    font-size: 5rem;
    color: #CFFFB3;
    -webkit-box-shadow: 3px 3px 15px #CFFFB3;
            box-shadow: 3px 3px 15px #CFFFB3;
    -webkit-transition: padding 500ms,
                color 500ms;
    -o-transition: padding 500ms,
                color 500ms;
    transition: padding 500ms,
                color 500ms;
    font-family: 'Covered By Your Grace', cursive;
}

.header a:hover {
    padding: 20px 60px;
    color: #fcec52;
}

/* Recipes Index */

#index {
    background: #fcec52;
    min-height: 90vh;
}

.jumbotron {
    margin: 1.66%;
    background: #3a5743;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    padding: 50px;
}

.jumbotron h1 {
    font-size: 4rem;
}

.jumbotron .add-rec {
    display: block;
    margin-top: 50px;
    width: 200px;
    background: #CFFFB3;
    text-align: center;
    text-decoration: none;
    color: #3a5743;
    padding: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid #fcec52;
}

.container {
    width: 75%;
    padding-top: 3vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.thumbnail {
    margin: 1.66%;
    width: 30%;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px #3a5743;
            box-shadow: 4px 4px 10px #3a5743;
    background: #3a5743;
}

.thumbnail a {
    color: #fcec52;
    margin-bottom: 5px;
    margin-right: 15px;
    text-align: right;
}

.thumbnail img {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #CFFFB3;
    border-radius: 2px;
}

.thumbnail .text {
    height: 140px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 10px;
}

.thumbnail .text i {
    margin-left: 10px;
    color: #fcec52;
}

.rec-name, .rec-author, .rec-desc {
    color: #CFFFB3;
    font-family: 'Noto Sans KR', sans-serif;
}
.rec-name {
    font-size: 1.5rem;
}
.rec-author {
    font-size: 1.1rem;
}

@media only screen and (max-width: 1200px) {
    .thumbnail {
        width: 45%;
    }
    .thumbnail img {
        height: 200px;
    }
    .container {
        justify-content: space-between;
    }
}

/* New recipe form  */

.form-rec-new {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form-rec-new form {
    width: 350px;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 3px solid #3a5743;
    -webkit-box-shadow: 2px 2px 10px #3a5743;
            box-shadow: 2px 2px 10px #3a5743;
    padding: 50px;
}

form h1 {
    color: #3a5743;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

.form-rec-new form input {
    display: block;
    margin: 5px;
    padding: 10px;
}

/* SHOW */

.show-container {
    width: 40%;
    margin: 0 auto;
    padding-top: 3vh;
}

.show-thumbnail {
    background: #3a5743;
    border: #CFFFB3 3px solid;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
    border-radius: 5px;
}

.show-container button {
    float: right;
    color: #fcec52;
    padding: 0;
    background: transparent;
    border: 0;
    text-decoration: underline;
    font-size: 1rem;
}

.show-text {
    padding: 10px 10px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-top: 2px solid #CFFFB3;
}

.show-text a {
    color: #fcec52;
    text-align: right;
}

.show-thumbnail img {
    width: 400px;
    height: 400px;
    margin: 0 auto 5px auto;
}

.buttons-show {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.show-name, .show-author, .show-desc {
    color: #CFFFB3;
    font-size: 1.5rem;
}
