* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 16px;
}

@media only screen and (max-width: 950px){
    html {
        font-size: 13px;
    }
}

.container {
    max-width: 85rem;
    width: 90%;
    margin: 0 auto;
}

.container-show {
    max-width: 85rem;
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px){
    .container {
        width: 100%;
    }
}

.active {
    color: #fcec52 !important;
    background: #3a574386;
    border-radius: 5px;
    padding: 1rem .5rem !important;
    box-shadow: 5px 5px 10px black;
}

.scrollTop {
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 2rem;
}

.scrollTop i {
    color: #fcec52;
}