<% include ../partials/header%>

<header class="rec-back-show">
    <div class="container">
        <form class="new-recipe" action="/recipes" method="POST">
            <h1>Add new recipe</h1>
            <input type="text" name="recipe[name]" placeholder="Recipe Name">        
            <input type="text" name="recipe[author]" placeholder="Author">
            <input type="text" name="recipe[image]" placeholder="Image Url">
            <input type="text" name="recipe[body]" placeholder="Description">
            <input type="submit" value="Submit">
        </form>
    </div>
</header>


<% include ../partials/footer %>